/* by: Vincent Angelo M. Dela Cruz */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, .7)), url(/images/bg2.jpg);

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  list-style: none;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 31px 100px;
  background: rgba(154, 145, 145, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

nav .logo{
  width: 80px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a{
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  /* font-weight: 5; */

  transition: 0.5s;
}

nav ul li a:hover{
  color: white;
  background-color: black;
  /* background: (255, 255, 255, 0.1); */
  border: 2px solid black;
  border-radius: 5px;

  padding-right: 5px;
  padding-left: 5px;
}


#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}




/* developers  */
/* Team Section */
.team {
    padding: 50px 0;
    text-align: center;
    margin-left: 5%;
    /* background-color: #1f1f1f; */
    
}

 
.team h1 {
    font-size: 5.5rem;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 2%;
    margin-top: 5%;
    color: white;
    font-family: 'Orbitron', sans-serif;
   
}
.team h1:hover {
color: white;
font-size: 100px;
font-style: italic;
text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
 
.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 15px;
    margin-top: 30px;
    margin-right: 5%;
}
 
.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 24%;
    height: 5%;
    margin-top: 20px;
}
 
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 5px rgba(175,0,52, 1);;
}
 
.card-img {
    width: 18rem;
    height:auto;
}
 
.card-img img {
    width: 50%;
    height: 50%;
    object-fit: fill;
}
 
.card-info button {
    margin: 5rem 1rem;
}
 
.card-name {
    font-size: 1rem;
    margin: 10px 0;
}
 
main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
/*Footer*/
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: black;

  height: auto;
  width: auto;

  padding-top: 10px;
  color: white;
  padding-bottom: 10px;
}

.footer-bottom p {
  justify-content: center;
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  margin-top: 10px;
  text-transform: capitalize;
}

.footer-menu ul{
  display: flex;

  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  justify-content: center;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a {
  --b: 0.1em;   
  --c: white; 
  
  color: white;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,white 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));

  text-decoration: none;

}

.footer-menu ul li a:hover {
  --_p: 100%;
  --_s: .3s;
}