/**
Initialized : Joaquin Raphael Decena
Modified    : Kate Cadano
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, .7)), url(/images/bg2.jpg);

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  list-style: none;

  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 31px 100px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav .logo{
  width: 80px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a{
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  /* font-weight: 5; */

  transition: 0.5s;
}

nav ul li a:hover{
  color: white;
  background-color: black;
  /* background: (255, 255, 255, 0.1); */
  border: 2px solid black;
  border-radius: 5px;

  padding-right: 5px;
  padding-left: 5px;
}


.heading{
  padding-top: 100px;
  margin-top: 25px;

  padding-left: 50px;
  padding-right: 50px;

  padding-bottom: 0px;

  text-align: center;
  color: white;
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;

}
  
.filter{
  margin-left: 10px;
  padding: 1px;

  border-radius: 5px;
}


table.driver-standings {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  background-color: transparent;
  text-align: center;
}
  
table.driver-standings th, 
table.driver-standings td {
  border: none;
  padding: 20px;
}


#driver-standings{
  padding-left: 25px;
  padding-right: 25px;

  padding-bottom: 100px;
}

#search-container{
  padding-top: 25px;

  align-items: center;
  justify-content: center;

  display: flex;
}

#search-input{
  padding: 15px;
  width: 500px;

  border-radius: 20px;
}


table.driver-standings thead tr th {
  background-color: rgba(0,0,0,1);
  color: white;
  font-weight: bold;
  text-align: center;

  padding: 30px;
}

.driver-standings tbody tr:nth-child(even) {
  background-color: rgba(175,0,52, 0.3);
  color: white;
}

.driver-standings tbody tr:nth-child(even):hover {
  background-color: rgba(175,0,52, 1);
  font-weight: bold;
}

.driver-standings tbody tr:nth-child(odd) {
  background-color: rgba(255,255,255, 0.5);
  color: black;
}

.driver-standings tbody tr:nth-child(odd):hover{
  background-color: rgba(255,255,255, 1);
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: black;

  margin-top: 20px;
  padding-top: 10px;
  color: white;
  padding-bottom: 10px;
}

.footer-bottom p {
  justify-content: center;
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  margin-top: 10px;
  text-transform: capitalize;
}

.footer-menu ul {
  display: flex;

  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  justify-content: center;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  --b: 0.1em;
  --c: white;

  color: white;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, white 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));

  text-decoration: none;

}

.footer-menu ul li a:hover {
  --_p: 100%;
  --_s: .3s;
}

.contents {
  display: flex;
  height: 88%;
  align-items: center;

  padding-bottom: 30px;
}