/* Initial design by Nath Pisco
Modified by Vincent Dela Cruz */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, .7)), url(/images/bg2.jpg);

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  list-style: none;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 31px 100px;
  background: rgba(154, 145, 145, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

nav .logo{
  width: 80px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a{
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  /* font-weight: 5; */

  transition: 0.5s;
}

nav ul li a:hover{
  color: white;
  background-color: black;
  /* background: (255, 255, 255, 0.1); */
  border: 2px solid black;
  border-radius: 5px;

  padding-right: 5px;
  padding-left: 5px;
}


#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}

/* 
by Vincent Dela Cruz  */

h1 {
  color: rgb(255, 255, 255);
  align-items: center;
  font-size: 90px;
  text-align:center;
  /* background-color: white;  */
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  margin-top:5%;
  border-top: 5px solid rgba(175,0,52, 1);
  border-radius: 20px;
  border-right: 5px solid black;
  margin-bottom: 10px;
  
}
h1:hover {
  color: white;
  font-size: 100px;
  font-style: italic;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}


.f1-1 {
  display:flex;
  font-size: 25px;
  align-items: center;
  background-color: rgba(175,0,52, 0.3);
  border-radius: 20px;
 
 
}
.f1-1 p {
  color: #ffffff;
  /* margin-left: 25%;
  margin-right: 2%; */
  text-align: center;
  justify-content: center;

  font-family: 'Anton', sans-serif;
  

}
.contents {
  margin-left: 9%;
  align-items: center;
  margin-bottom: 150px;

}

.driverImage {
  width: 50%;
  align-items: center;
  margin-left: 90px;
  padding-bottom: 10px;

}



.profile-link {
  color:black;
  background-color: white;
  font-size: 30px;
  width:120px;
  height: 40px;
  border-radius: 20px;
  margin-left: 110px;
  margin-top: 40px;
}

.profile-link:hover {
  background-color: rgba(175,0,52, 1);
  color:white;
}
/* drivers list  */
.f1{
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  color: rgba(175,0,52, 1);
}

.flip-card {
  
  background-color: transparent;
  width: 350px;
  height: auto;
  height: 250px;
  perspective: 1000px;
  font-family: sans-serif;
  margin-top: 50px;
  
}


.fName,
.driverId {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  font-family: 'Abate', sans-serif;
  
}

.driverId {
  color:#fffbfb;
  align-items: center;
  font-size: 30px;
  text-shadow: 1px 2px 2px rgba(1, 1, 1, 0.6);

  
  /* margin-left: 50%; */

}
.fName {
  padding-top: 50px;
  background-color: white;
  color: #000000;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.lName {
  margin-top: 20px;
  font-size: 30px;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1rem;
  
}


.flip-card-front {
  background: rgba(255, 255, 255, 0.3);
  border: 8px dashed rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Box shadow */
  transform: perspective(1000px) rotateY(30deg); /* 3D effect */
  
}

.flip-card-back {
  background:rgb(29, 29, 29);
  color: white;
  transform: rotateY(180deg);
}



/*Footer: Kate Cadano*/
footer {
  position:fixed;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: black;

  height: auto;
  width: auto;

  padding-top: 10px;
  color: white;
  padding-bottom: 10px;
}

.footer-bottom p {
  justify-content: center;
  text-align: center;
  font-size: 14px;
  word-spacing: 2px;
  margin-top: 10px;
  text-transform: capitalize;
}

.footer-menu ul {
  display: flex;

  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  justify-content: center;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  --b: 0.1em;
  --c: white;

  color: white;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, white 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));

  text-decoration: none;

}

.footer-menu ul li a:hover {
  --_p: 100%;
  --_s: .3s;
}

#sortOptions {
  width: 130px;
  height: 50px;
  font-size: 20px;
  margin-left: 40%;
  margin-top: 2%;
  border-radius: 20px;
}



