/**Kate Cadano*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
}

.banner{
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 31px 100px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Arial', sans-serif;
  
}

nav .logo{
  width: 80px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a{
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  /* font-weight: 5; */

  transition: 0.5s;
}

nav ul li a:hover{
  color: white;
  background-color: black;
  /* background: (255, 255, 255, 0.1); */
  border: 2px solid black;
  border-radius: 5px;

  padding-right: 5px;
  padding-left: 5px;
}


#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}

.content{
  text-align: center;

  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
}

.content h1{
  font-size: 160px;
  color: #ffff;
  font-weight: 600;
  transition: 0.5s;
}

.content h1:hover{
  -webkit-text-stroke: 2px #ffff;
  /* color: transparent; */
  color: #ff3333;
}

/* .content a{
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid white;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;

  overflow: hidden;
}

.content a::before {
  right: auto;
  bottom: auto;
  width: 120%;
  height: 100%;
  transform-origin: left top;
  transform: skewX(-30deg) scale(0, 1);
}

.content a:hover::before {
  transform-origin: right top;
  transform: skewX(-30deg) scale(1, 1);
} */

.content a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid white;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.content a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 1);
  transform-origin: left top;
  transform: scaleX(0);
  transition: transform 0.3s;
  z-index: -1; /* Place it behind the content */
}

.content a:hover::before {
  transform-origin: right top;
  transform: scaleX(1);
}

.content a:hover {
  color: white; /* Change the font color to black on hover */

  /* background: rgba(255, 0, 0, 1); */
  border: 2px solid #ff3333;
}

.bg-vid{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9){
  .bg-vid{
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .bg-vid{
      width: auto;
      height: 100%;
  }
}